helpers
target
Prover.toml
.DS_Store
*.json
!package.json
!auto/inputs/passport/readme.txt
__pycache__
*.der
binary_field_experiments
test_main.nr
*.csv
input_generation/*
ultraPlonkTrustedSetup.dat
circuits/*
logs.*
tmp.txt
process_passport_*.js